body {
  margin : 0px;
  padding : 0px;
}

* {
  font-family : arial;
}

a {
  color  : blue;
  text-decoration:underline;
}
a:hover {
  color  : blue;
  background-color : pink;
  text-decoration:underline;
}

.header {
  height           : 100px;
  background-color : lightgray;
  padding          : 10px;
}

.header .right {
  position : absolute;
  right : 0px;
}

.content {
  padding : 10px;
  padding-left : 200px;
  padding-right : 200px;
}

.template {
  display : none;
}
